[submodule "editorconfig-core-test"]
	path = core-test
	url = https://github.com/mbbx6spp/ed1torconfig-core-test
[submodule "editorconfig-plugin-tests"]
	path = ert-tests/plugin-tests
	url = https://github.com/mbbx6spp/ed1torconfig-plugin-tests
